<script type="text/ng-template" id="userFormMessages">
    <div ng-message="required">This field is required</div>
</script>
<form name="userForm">
    <div class="form-controls-wrap select-user-type" ng-controller="userTypeController as userType">
        <organisation-unit-select on-select="addUser.changeOrgUnit($item, $model)" ng-if="addUser.isGlobalUser"></organisation-unit-select>
        <select-usertype user="user" user-types="userType.userTypes"></select-usertype>
        <agency-select active-org-unit="activeOrgUnit" user="user" ng-if="userType.isAgency()"></agency-select>
        <partner-select active-org-unit="activeOrgUnit" user="user" ng-if="userType.isPartner()"></partner-select>
    </div>
    <div class="form-controls-wrap">
        <span class="form-control-wrap" ng-class="{'ng-valid': userForm.emailAddress.$valid}">
            <input class="form-control" placeholder="E-mail address" name="emailAddress" type="email" ng-required="true" ng-model="user.email">
        </span>
        <div class="error-messages" ng-messages="userForm.emailAddress.$error" ng-messages-include="userFormMessages" ng-if="userForm.emailAddress.$dirty">
            <div ng-message="email">This field should contain a valid e-mail address</div>
        </div>
    </div>
    <div class="form-controls-wrap">
        <locale-select user="user" required="true"></locale-select>
    </div>

    <div class="form-controls-wrap row">
        <div class="col-sm-12">
            <label for="usermanager">
                <input id="usermanager" type="checkbox" ng-value="false" ng-model="addUser.isUserManager" ng-change="addUser.checkAllBoxesForUserManager()">
                <span translate>User manager</span>
            </label>
        </div>
    </div>

    <div class="form-controls-wrap row">
        <div class="col-sm-6">
            <fieldset name="Data streams">
                <legend>Data streams<i class="fa fa-check valid-icon" ng-show="addUser.validateDataGroups()"></i></legend>
                <ul class="checkbox-group">
                    <li ng-repeat="(name, value) in user.dataGroups">
                        <input ui-validate-watch="'addUser.validateDataGroups()'"
                               ui-validate="{ oneSelected: 'addUser.validateDataGroups()'}"
                               id="dataStream[{{::name}}]" name="dataStream[{{::name}}]"
                               ng-model="user.dataGroups[name].access"
                               ng-disabled="user.dataGroups[name].entry"
                               ng-change="addUser.updateDataEntry(name)"
                               type="checkbox">
                        <label for="dataStream[{{::name}}]" ng-bind="name" translate></label>
                    </li>
                </ul>
            </fieldset>
            <div class="error-messages" ng-if="addUser.dataGroupsInteractedWith(userForm) && !addUser.validateDataGroups()">
                <div>Please select one or more data streams</div>
            </div>
        </div>
        <div class="col-sm-6">
            <fieldset name="User actions">
                <legend>User actions<i class="fa fa-check valid-icon"></i></legend>
                <ul class="checkbox-group">
                    <li ng-repeat="streamName in addUser.dataEntryStreamNamesForUserType">
                        <input id="dataEntry[{{::streamName}}]"
                               name="dataEntry[{{::streamName}}]"
                               type="checkbox"
                               ng-model="user.dataGroups[streamName].entry"
                               ng-change="addUser.updateDataEntry(streamName);"
                               ng-disabled="addUser.isUserManager" />
                        <label for="dataEntry[{{::streamName}}]">
                            <span translate>Data Entry</span> <span ng-bind="streamName" translate></span>
                        </label>
                    </li>
                    <li ng-repeat="action in addUser.actions">
                        <input ng-model="user.userActions[action.name]"
                               ng-checked="action.default"
                               ng-disabled="action.default || addUser.isUserManager"
                               id="userActions[{{::action.name}}]"
                               name="userActions[{{::action.name}}]"
                               type="checkbox">
                        <label for="userActions[{{::action.name}}]">
                            <span ng-bind="action.name" translate></span>
                        </label>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
    <div class="form-controls-wrap">
        <button class="btn btn-primary add-user-button" ng-class="{ 'processing': addUser.isProcessingAddUser }" ng-disabled="!userForm.$valid || addUser.isProcessingAddUser" ng-click="addUser.addUser()">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <span ng-bind="addUser.getErrorString(userForm) || 'Invite user'"></span>
        </button>
    </div>
</form>
