Ability to add users here
<script type="text/ng-template" id="userFormMessages">
    <div ng-message="required">This field is required</div>
</script>

<form name="userForm">
    <div class="form-controls-wrap select-user-type" ng-controller="userTypeController as userType">
        <select-usertype user="user" user-types="userType.userTypes"></select-usertype>
        <agency-select user="user" ng-if="userType.isAgency()"></agency-select>
        <partner-select user="user" ng-if="userType.isPartner()"></partner-select>
    </div>
    <div class="form-controls-wrap">
        <span class="form-control-wrap" ng-class="{'ng-valid': userForm.emailAddress.$valid}">
            <input class="form-control" placeholder="E-mail address" name="emailAddress" type="email" ng-required="true" ng-model="user.email">
        </span>
        <div class="error-messages" ng-messages="userForm.emailAddress.$error" ng-messages-include="userFormMessages" ng-if='userForm.emailAddress.$dirty'>
            <div ng-message="email">This field should contain a valid e-mail address</div>
        </div>
    </div>
    <div class="form-controls-wrap">
        <locale-select user="user"></locale-select>
    </div>
    <div class="form-controls-wrap">
        <div class="half">
            <ul>
                <li ng-repeat="(name, value) in user.dataGroups">
                    <label ng-bind="name"></label>
                    <input ui-validate-watch="'addUser.validateDataGroups()'" ui-validate="{ oneSelected: 'addUser.validateDataGroups()'}" name="dataStream" ng-model="user.dataGroups[name]" type="checkbox">
                </li>
            </ul>
        </div>
        <div class="half">
            <ul>
                <li ng-repeat="action in addUser.actions">
                    <label ng-bind="action.name"></label>
                    <input ng-model="user.userActions[action.name]" ng-checked="action.default" ng-disabled="action.default" type="checkbox">
                </li>
            </ul>
        </div>
    </div>
    <div class="form-controls-wrap">
        <button class="btn btn-primary" ng-disabled="!userForm.$valid || addUser.isProcessingAddUser" ng-click="addUser.addUser()">Add user</button>
    </div>
    <div>
        <div ng-bind="user.userType.name"></div>
        <div ng-bind="user.userEntity.name"></div>
        <div ng-bind="user.locale.name"></div>
        <div ng-bind="user.email"></div>
    </div>
</form>
