<script type="text/ng-template" id="userFormMessages">
    <div ng-message="required">This field is required</div>
</script>

<div class="user-edit-header">
    <div class="row user-name">
        <h3 ng-bind="::editUser.userToEdit.name"></h3>
    </div>
    <div class="row user-type">
        <i class="fa fa-briefcase"></i> User type: <span ng-bind="::editUser.getUserType()"></span>
    </div>
    <div class="row email" ng-show="editUser.userToEdit.email">
        <i class="fa fa-envelope"></i> E-Mail <span ng-bind="::editUser.userToEdit.email"></span>
    </div>
    <div class="row username">
        <i class="fa fa-user"></i> Username: <span ng-bind="::editUser.userToEdit.userCredentials.username"></span>
    </div>
    <div class="row country">
        <i class="fa fa-globe"></i> Country: <span ng-bind="::editUser.getOrganisationUnitForUserToEdit()"></span>
    </div>
    <user-status user="editUser.userToEdit.userCredentials" ng-click="editUser.changeUserStatus()"></user-status>
</div>

<form name="userForm">
    <div class="form-controls-wrap">
        <locale-select user="globalUserCtrl.user" required="true"></locale-select>
    </div>

    <div class="form-controls-wrap row">
        <div class="col-sm-12">
            <fieldset name="User actions">
                <legend>User actions<i class="fa fa-check valid-icon"></i></legend>
                <div ng-repeat="(key, value) in globalUserCtrl.user.userActions">
                    <label for="userAction_{{::key}}">
                        <input id="userAction_{{::key}}" type="checkbox" ng-value="false" ng-model="globalUserCtrl.user.userActions[key]">
                        <span translate ng-bind="key"></span>
                    </label>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="form-controls-wrap">
        <button class="btn btn-primary add-user-button"
                ng-class="{ 'processing': globalUserCtrl.isProcessing }"
                ng-disabled="!userForm.$valid || globalUserCtrl.isProcessing"
                ng-click="globalUserCtrl.editUser()">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <span ng-bind="globalUserCtrl.getErrorString(userForm) || 'Save user'"></span>
        </button>
    </div>
    <!--<pre><code>{{ globalUserCtrl.userInviteObjectToSend | json : 2 }}</code></pre>-->
</form>
