<div>
    <div class="user-edit-header">
        <div class="row user-name">
            <h3 ng-bind="::editUser.userToEdit.name"></h3><span class="user-type"><span ng-bind="::editUser.getUserType()"></span> <span ng-bind="editUser.userEntityName"></span></span>
        </div>
        <div class="row email" ng-show="editUser.userToEdit.email">
            <i class="fa fa-envelope"></i> <span ng-bind="::editUser.userToEdit.email"></span>
        </div>
        <div class="row username">
            <i class="fa fa-user"></i> <span ng-bind="::editUser.userToEdit.userCredentials.username"></span>
        </div>
        <div class="row country">
            <i class="fa fa-globe"></i> <span ng-bind="::editUser.getOrganisationUnitForUserToEdit()"></span>
        </div>
        <user-status user="editUser.userToEdit.userCredentials" ng-click="editUser.changeUserStatus()"></user-status>
    </div>
    <div class="user-edit-form">
        <form name="editForm">
            <div class="row form-controls-wrap">
                <div class="col-sm-12">
                    <locale-select user="editUser.user" required="false"></locale-select>
                </div>
            </div>

            <div class="form-controls-wrap row">
                <div class="col-sm-12">
                    <label for="usermanager">
                        <input id="usermanager" type="checkbox" ng-value="false" ng-model="editUser.isUserManager" ng-change="editUser.checkAllBoxesForUserManager()">
                        <span translate>User manager</span>
                    </label>
                </div>
            </div>

            <div class="row form-controls-wrap">
                <div class="col-sm-6">
                    <fieldset name="Data streams">
                        <legend>Data streams<i class="fa fa-check valid-icon" ng-show="editUser.validateDataGroups()"></i></legend>
                        <ul class="checkbox-group">
                            <li ng-repeat="(name, value) in user.dataGroups">
                                <input ui-validate-watch="'editUser.validateDataGroups()'" 
                                       ui-validate="{ oneSelected: 'editUser.validateDataGroups()'}" 
                                       id="dataStream[{{::name}}]" 
                                       name="dataStream[{{::name}}]"
                                       ng-model="user.dataGroups[name].access"
                                       ng-disabled="editUser.hasDataEntryEnabled(name) || editUser.isUserManager"
                                       type="checkbox">
                                <label for="dataStream[{{::name}}]" ng-bind="name" translate></label>
                            </li>
                        </ul>
                    </fieldset>
                    <div class="error-messages" ng-if="editUser.dataGroupsInteractedWith(editForm) && !editUser.validateDataGroups()">
                        <div>Please select one or more data streams</div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <fieldset name="User actions">
                        <legend>User actions<i class="fa fa-check valid-icon"></i></legend>

                        <um-data-entry
                                is-user-manager="editUser.isUserManager"
                                user="user"
                                user-type="editUser.getUserType()"
                                user-to-edit="editUser.userToEdit"
                        ></um-data-entry>

                        <ul class="checkbox-group">
                            <li ng-repeat="action in editUser.actions">
                                <input ng-model="user.userActions[action.name]"
                                       ng-checked="action.hasAction"
                                       ng-disabled="(action.default && action.hasAction) || editUser.isUserManager" id="userActions[{{::action.name}}]"
                                       name="userActions[{{::action.name}}]"
                                       type="checkbox">
                                <label for="userActions[{{::action.name}}]">
                                    <span ng-bind="action.name" translate></span>
                                    <span class="action-datastream" ng-if="::action.dataStream" ng-bind="::action.dataStream" translate></span>
                                    <span class="action-datastream" ng-if="::action.dataEntryRestrictions[editUser.getUserType()]" ng-bind="::action.dataEntryRestrictions[editUser.getUserType()]" translate></span>
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                </div>
            </div>

            <div class="form-controls-wrap" ng-show="editUser.isUserManager && editUser.getDataEntryRolesNotShown().length > 0">
                <div class="well">
                    <div class="user-manager-note">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Because this a user manager the following additional roles will also be assigned (based on the user type)</span>
                        <ul>
                            <li ng-repeat="userRole in editUser.getDataEntryRolesNotShown()"><span ng-bind="::userRole.userRole" translate></span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row form-controls-wrap">
                <button class="btn btn-primary add-user-button" ng-class="{ 'processing': editUser.isProcessingEditUser }" ng-disabled="!editForm.$valid || editUser.isProcessingEditUser" ng-click="editUser.editUser()">
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    <span>Save changes</span>
                </button>
            </div>
        </form>
    </div>
</div>
