*
  box-sizing: border-box

.form-controls-wrap
  margin-bottom: 15px

  &.select-user-type > div
    margin-bottom: 15px


.app-content-wrap
  margin: 0 auto
  max-width: 1200px
  width: 60%

.form-control.ng-valid,
.ui-select-bootstrap.ng-valid button
  border: 1px solid green

.form-control-wrap
  position: relative
  display: block

.form-control-wrap.ng-valid,
.ui-select-bootstrap.ng-valid
  &:after
    content: "\f00c"
    color: green
    width: 30px
    height: 30px
    float: right
    font-family: "fontawesome"
    position: absolute
    top: 2px
    right: -35px
    font-size: 1.5em

.form-control.ng-invalid.ng-dirty,
.ui-select-bootstrap.ng-invalid.ng-dirty button
  border: 1px solid red

.error-messages div
  color: red
  font-size: .9em
  margin-top: 5px

.half
  display: inline-block
  vertical-align: top
  width: 50%

  fieldset
    width: 95%

    legend
      i.valid-icon
        color: green
        margin-left: 15px


ul.checkbox-group
  list-style: none
  padding-left: 15px

  li
    list-style: none