List of searchable users here

<div class="search-users">
	<div class="row">
		<div class="col-sm-6">
			<select name="filter" id="filter" ng-model="filter" ng-options="nameOption.name for nameOption in userFilter" ng-change="setFilterRefine()"></select>
		</div>
		<div class="col-sm-6">
			<select name="filter-secondary" id="filter-secondary" ng-model="filterSecond" ng-options="refineOption.name for refineOption in filterRefine" ng-show="filterRefine.length > 0"></select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<input type="text" ng-model="textFilter" typeahead="usersList for usersList in getUserList($viewValue)" typeahead-loading="loadingLocations">
			<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>	
		</div>
	</div>

	<!--
	<div class="search-result" ng-hide="">
		<ul ng-repeat="user in userList.users">
		    <li ng-bind="user.name"></li>
		</ul>	
	</div>
	-->

	<div class="search-result" ng-show="userList.users">
		<p ng-pluralize count="userList.users.length"
		when="{'0': 'No users have been found, please make your search less specific',
		'1': '1 User found',
		'other': '{} Users found'

		}"></p>
		<ul ng-repeat="user in userList.users">
		    <li "user.id">
		    	<div class="result">
		    		<div class="row">
		    			<div class="col-sm-6">
		    				<span class="title">Name: </span><span ng-bind="user.name"></span>
		    			</div>
		    			<div class="col-sm-6">
		    				<span class="title">Email: </span><span ng-bind="email"></span>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col-sm-6">
		    				<span class="title">Group:</span><span ng-bind="userGroups"></span>
		    			</div>
		    			<div class="col-sm-6">
		    				<span class="title">User Credentials: </span><span ng-bind="UserCredentials"></span>
		    			</div>
		    		</div>
		    	</div>
		    </li>
		</ul>	
	</div>		
</div>
