<div class="search-users">
	<div class="row">
		<div class="col-sm-12">

            <div class="well help-text">
                <ul>
                    <li>Select your filter type to limit your search</li>
                    <li>Start typing your filter value</li>
                </ul>
            </div>

		</div>
	</div>
    <div class="search-form">
	<!--<form class="search-form" novalidate>-->
        <div class="filters">
            <div class="filterForm form-group" ng-repeat="filter in userList.search.activeFilters">
                    <div class="row" >
                        <div class="select-filters col-sm-6">
                            <div class="select-filtertype">
                                <ui-select ng-required="true" ng-model="userList.search.activeFilters[$index].type">
                                    <ui-select-match placeholder="Select filter type">{{$select.selected.name || $select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="item in userList.search.options | filter: $select.search">
                                        <div>{{item.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="select-filtertype-secondary-wrap">
                                <div class="select-filtertype-secondary" ng-hide="userList.search.hasSecondaryFilter($index)">
                                    <input class="form-control"
                                           ng-model="userList.search.activeFilters[$index].value"
                                           ng-change="userList.search.doSearch($index)"
                                           placeholder="{{ filter.type ? 'Search for users by ' + (filter.type.name | lowercase) : 'Search for users' }}"
                                           type="text"
                                           ng-hide="!!userList.search.activeFilters[$index].secondary"
                                           ng-disabled="!userList.search.activeFilters[$index].type"
                                           typeahead-loading="loadingLocations">
                                    <i ng-show="loadingLocations" class="fa fa-refresh fa-spin"></i>
                                </div>
                                <div class="select-filtertype-secondary" ng-show="userList.search.hasSecondaryFilter($index)">
                                    <ui-select ng-model="userList.search.activeFilters[$index].value" on-select="userList.search.doSearch($item, $model)">
                                        <ui-select-match placeholder="Please pick an option here">{{$select.selected.name || $select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="item in userList.search.getSecondaryFilter($index) | filter: $select.search">
                                            <div>{{item.name}}</div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="userList.search.activeFilters.length > 1">
                        <div class="col-sm-12">
                            <div class="button-group">
                                <button class="btn btn-info btn-xs" ng-click="userList.removeFilter($index)">
                                    <i class="fa fa-minus-square-o"></i>
                                    <span>Remove Filter</span>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="button-group">
                    <button class="btn btn-default" ng-click="userList.addFilter()"
                            ng-disabled="userList.search.activeFilters.length == 4">
                        <i class="fa fa-plus-square-o"></i>
                        <span>Add Filter</span>
                    </button>
                    <button class="btn btn-warning" ng-click="userList.resetFilters()"
                            ng-show="userList.search.activeFilters.length > 0">
                        <i class="fa fa-times"></i>
                        <span>Clear Filters</span>
                    </button>
                </div>
            </div>
        </div>
    <!--</form>-->
    </div>
    <div class="row search-result-header">
        <div class="col-sm-6">
            <h3 ng-hide="userList.listIsLoading"
               ng-pluralize count="userList.pagination.getTotalItemCount()"
               when="{'0': 'No users have been found, please make your search less specific',
               '1': '1 User found',
               'other': '{} Users found'
               }"></h3>
        </div>
        <div class="col-sm-6">
            <div class="button-group">
                <a ng-show="userList.users.length > 0"
                   ng-href='{{userList.getCSVUrl()}}'
                   class="btn btn-default pull-right">
                    <i class="fa fa-save"></i>
                    <span translate class="ng-scope">Download as CSV</span>
                </a>
            </div>
        </div>
    </div>
    
	<div class="search-result" ng-show="userList.users">
        <div class="loading-mask" ng-show="userList.listIsLoading">
            <div class="loading-mask-inner"><i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Loading users...</div>
        </div>
		<ul class="user-list" ng-class="{'user-details-open': userList.detailsOpen}">
		    <li class="user-list-row" user-id="{{user.id}}" ng-repeat="user in userList.users" ng-class="{disabled: user.userCredentials.disabled, 'is-details-user': userList.isDetailsUser(user)}" ng-click="userList.showDetails(user)" >
		    	<div class="result">
		    		<div class="row user-details-main">
		    			<div class="col-sm-7">
		    				<div class="user-name"><span ng-bind="::user.surname"></span>, <span ng-bind="::user.firstName"></span></div>
		    			</div>
                        <div class="col-sm-5">
                            <div class="deactivate">
                                <span class="user-status user-disabled" ng-show="user.userCredentials.disabled">
                                    <span ng-hide="userList.isProcessing(user.id)">Disabled</span>
                                    <span ng-show="userList.isProcessing(user.id)"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                </span>
                                <span class="user-status user-enabled" ng-hide="user.userCredentials.disabled">
                                    <span ng-hide="userList.isProcessing(user.id)">Active</span>
                                    <span ng-show="userList.isProcessing(user.id)"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                </span>
                                <div class="button-group" ng-show="userList.canEditUser(user)">
                                    <button class="btn btn-default btn-edit-user" ng-click="userList.editUser(user)"><i class="fa fa-pencil-square-o"></i> Edit</button>
                                    <button class="btn btn-danger" ng-disabled="userList.isProcessing(user.id)" ng-hide="user.userCredentials.disabled" ng-click="userList.deactivateUser(user); $event.stopPropagation();">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <button class="btn btn-success" ng-disabled="userList.isProcessing(user.id)" ng-show="user.userCredentials.disabled" ng-click="userList.activateUser(user); $event.stopPropagation();">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
		    		</div>
                    <div class="row user-details-main user-details-additional" ng-class="{'user-details-open': userList.detailsOpen}">
                        <div class="col-sm-6">
                            <div class="email"><i class="fa fa-envelope"></i>&nbsp;<span ng-bind="::user.email"></span></div>
                            <div class="username"><i class="fa fa-user"></i>&nbsp;<span ng-bind="::user.userCredentials.username"></span></div>
                        </div>
                    </div>
		    	</div>
		    </li>
		</ul>
        <div class="user-details-view" ng-show="userList.detailsOpen">
            <div>
                <button type="button" class="close user-details-close" ng-click="userList.closeDetails()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="user-details-title">
                    <span class="user-name" ng-bind="userList.detailsUser.firstName + ' ' + userList.detailsUser.surname"></span>&nbsp;is&nbsp;a<span ng-show="userList.detailsUserUserType[0] === 'A' || userList.detailsUserUserType[0] === 'I'">n</span>&nbsp;<span class="details-user-type" ng-bind="userList.detailsUserUserType"></span>&nbsp;user
                </div>
                <div class="data-group">
                    <h3>Data streams</h3>
                    <table>
                        <thead>
                            <th></th>
                            <th>Access</th>
                            <th>Data entry</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dataGroup in userList.detailsUserDataGroups">
                                <th ng-bind="dataGroup.name"></th>
                                <td>
                                    <i class="user-access fa fa-check" ng-show="dataGroup.access"></i>
                                    <i class="user-no-access fa fa-times" ng-hide="dataGroup.access"></i>
                                </td>
                                <td>
                                    <i class="user-access fa fa-check" ng-show="dataGroup.entry"></i>
                                    <i class="user-no-access fa fa-times" ng-hide="dataGroup.entry"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="data-group">
                    <h3>Actions</h3>
                    <ul>
                        <li ng-repeat="action in userList.detailsUserActions">
                            <i class="user-access fa fa-check" ng-show="action.hasAction"></i>
                            <i class="user-no-access fa fa-times" ng-hide="action.hasAction"></i>
                            <span ng-bind="action.name"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
    <div class="pagination">
        <pagination ng-show="userList.pagination.getNumberOfPages() > 1"
                    total-items="userList.pagination.getTotalItemCount()"
                    items-per-page="userList.pagination.getPageSize()"
                    ng-model="userList.currentPage"
                    ng-change="userList.pageChanged()"
                    max-size="10"
                    boundary-links="true"
                    rotate="false">

        </pagination>
    </div>
</div>
